<!DOCTYPE html>
<html>
  <head>
  <% include partials/pages/head.ejs %>
  </head>

<body>
  <% include partials/pages/header.ejs %>

  <div class="face-icon">
    <i class="fa fa-circle-o menu-open-button"></i>
  </div>

  <% include partials/pages/menu.ejs %>

  <% include partials/pages/lander.ejs %>

  <div class="showcase-container">
    <div class="container" style="top: 70px;">
      <h5 class="message-me">Want to message me?</h5>
      <form class="email-form" action="#" method="POST">
        <input class="email-field" name="E-mail" type="text" value="">
      </form>
  </div>

  <% include partials/pages/js.ejs %>
</body>
</html>
