<!DOCTYPE html>
<html>
  <head>
  <% include partials/pages/head.ejs %>
  </head>

<body>
  <header>
  </header>
  <div class="lander">
  <div class="container">
  <h1><%= header1 %></h1>
</div>
</div>

  <% include partials/pages/js.ejs %>
</body>
</html>
