<!DOCTYPE html>
<html>
  <head>
  <% include partials/pages/head.ejs %>
  </head>

<body>
  <% include partials/pages/header.ejs %>

  <div class="face-icon">
    <i class="fa fa-user"></i>
  </div>

  <div class="lander">
  <div class="container">
    <div class="column one-half">
      <h1><%= header1 %></h1>
      <p class="landing-p">Yoro ipsum dolor praal amet, consectetur adipiscing elit. Drehlaan eu vestibulum dinaak.</p>
      <a href="#" class="landing-button">gå til prosjekter</a>
    </div>
    <div class="column one-half">
      <form>
      </form>
    </div>
</div>
</div>

  <% include partials/pages/js.ejs %>
</body>
</html>
