/*
CSS for default.ejs file
*/

body {
  background: white;
  height: 3000px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

header {
  position: fixed;
  background: white;
  height: 70px;
  width: 100%;
  z-index: 99;
}

/* border-bottom: 2px solid rgba(1,1,1,.02); */

header nav.login-form {
  position: relative;
  display: block;
  top: 25px;
  height: 40px;
  float: right;
  right: 5%;
}

header nav ul li {
  display: inline-block;
  background: transparent;
  margin-right: 18px;
}

header nav ul li a {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.5px;
  text-decoration: none;
  text-align: center;
  font-size: .9em;
  color: #383940;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #383940;
}

.slider-chat {
  width: 0%;
  overflow: visible !important;
  height: 2px;
  background: #F55654;
}

.slider-projects {
  width: 0%;
  overflow: visible !important;
  height: 2px;
  background: #F55654;
}

.slider-about {
  width: 0%;
  overflow: visible !important;
  height: 2px;
  background: #F55654;
}

div.container {
  position: relative;
  top: 130px;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  color: #383940;
}

p.landing-p {
  position: relative;
  top: 35px;
  font-size: 1.2em;
}

a.landing-button {
  position: relative;
  top: 80px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #F55654;
  border: 2px solid #F55654;
  text-align: center;
  padding: 6px 15px;
  border-radius: 60px;
  background: white;
}

i.icon {
  position: absolute;
  left: 12%;
  top: 20px;
  font-size: 1.8em;
}

.lander {
  background: white;
  width: 100%;
  height: 90vh;
}

.one-half {
  background: transparent;
}

div.face-icon {
  position: fixed;
  background: transparent;
  right: 2%;
  bottom: 15px;
  cursor: pointer;
}

div.face-icon i {
  font-weight: 300;
  color: #383940;
  font-size: 1.4em;
}
