/*
CSS for default.ejs file
*/

body {
  background: white;
  height: 3000px;
  font-weight: 500;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

header {
  position: fixed;
  background: white;
  height: 70px;
  width: 100%;
  z-index: 99;
}

/* border-bottom: 2px solid rgba(1,1,1,.02); */

header nav.login-form {
  position: relative;
  display: block;
  top: 25px;
  height: 40px;
  float: right;
  right: 5%;
}

header nav ul li {
  display: inline-block;
  background: transparent;
  margin-right: 22px;
}

header nav ul li a {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.5px;
  text-decoration: none;
  text-align: center;
  font-size: .95em;
  color: #383940;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #383940;
}

.slider-chat {
  width: 0%;
  overflow: visible !important;
  height: 2px;
  background: #F55654;
}

.slider-projects {
  width: 0%;
  overflow: visible !important;
  height: 2px;
  background: #F55654;
}

.slider-about {
  width: 0%;
  overflow: visible !important;
  height: 2px;
  background: #F55654;
}

div.lander .container {
  position: relative;
  top: 140px;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  color: #383940;
}

p.landing-p {
  position: relative;
  top: 35px;
  font-size: 1.2em;
}

a.landing-button {
  opacity: .6;
  position: relative;
  top: 80px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #F55654;
  border: 2px solid #F55654;
  text-align: center;
  padding: 6px 15px;
  border-radius: 60px;
  background: white;
  transition: opacity .3s;
}

a.landing-button:hover {
  opacity: 1;
}

i.icon {
  position: absolute;
  left: 12%;
  top: 20px;
  font-size: 1.8em;
}

.lander {
  background: white;
  width: 100%;
  background-size: cover;
  height: 90vh;
  border-bottom: 4px solid rgba(1,1,1,.02);
}

div.face-icon {
  position: fixed;
  background: transparent;
  right: 2%;
  bottom: 15px;
  cursor: pointer;
  z-index: 99;
}

div.face-icon i {
  font-weight: 300;
  color: #383940;
  font-size: 1.1em;
}

div.menu-container {
  width: 300px;
  height: 70vh;
  position: fixed;
  float: right;
  border-top-left-radius: 6px;
  right: 0px;
  bottom: -71vh;
  background: #383940;
  z-index: 99;
}

.profile-photo {
  position: relative;
  top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid rgba(255,255,255,.05);
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

div.menu-container h4 {
  position: relative;
  top: 40px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: -2px;
}

div.menu-container p {
  position: relative;
  top: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  font-size: .9em;
  color: whitesmoke;
}

div.menu-container .menu-display {
  position: relative;
  top: 40px;
}

div.menu-container .menu-display .one-half {
  width: 50%;
  background: rgba(255,255,255,.05);
  text-align: center;
  padding: 0;
  height: 75px;
  margin: 0 auto;
}

div.menu-container .menu-display .one-half:last-of-type {
  border-left: 1px solid rgba(1,1,1,.1);
}

div.menu-container .menu-display .one-half p {
  position: relative;
  top: 15px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

div.menu-container .menu-display .one-half h5 {
  position: relative;
  top: -5px;
  font-size: .85em;
  color: #888;
  font-weight: 700;
}

.menu-close-button {
  position: absolute;
  top: 10px;
  float: right;
  font-size: 1.3em;
  right: 10px;
  color: #555;
  cursor: pointer;
}

.menu-close-button:hover {
  color: #777;
}

.menu-button {
  position: relative;
  top: 105px;
  text-align: center;
  left: 30%;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid #F55654;
  font-weight: 700;
  border-radius: 60px;
  text-decoration: none;
  color: #F55654;
  transition: opacity .4s;
}

.menu-button:hover {
  color: #F55654;
  opacity: 1;
}

.message-me {
  font-weight: 500;
  letter-spacing: 0px;
  color: #383940;
}

form {
  position: relative;
  text-align: left;
}

form input {
  width: 40%;
  border: 0px solid #383940;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  color: #444;
}

form input:hover {
  border: 0px solid #383940;
}

/*
===========================================*/

div.showcase-container {
  position: relative;
  background: rgba(1,1,1,.02);
  height: 250px
}
