<header>
  <nav>
  <ul>
  <li><a href="#">Tester</a>
    <div class="slider"></div>
  </li>
  <li><a href="#">Home</a>
  <div class="slider"></div>
  </li>
  <li><a href="#">About</a>
  <div class="slider"></div>
  </li>
</ul>
</nav>
</header>
