<header>
<i class="fa fa-map-o icon"></i>
<nav class="login-form">
<ul>
    <li><a href="#" class="chat">Chat</a>
    <div class="slider-chat"></div>
    </li>
    <li><a href="#" class="projects">Prosjekter</a>
    <div class="slider-projects"></div>
    </li>
    <li><a href="#" class="about">Om</a>
    <div class="slider-about"></div>
    </li>
  </ul>
</nav>
</header>
