<div class="lander">
<div class="container">
  <div class="column one-half">
    <h1><%= header1 %></h1>
    <p class="landing-p">Yoro ipsum dolor praal amet, consectetur adipiscing elit. Drehlaan eu vestibulum dinaak.</p>
    <a href="#" class="landing-button">gå til prosjekter <i class="fa fa-arrow-right" style="margin-left: 5px;"></i></a>
  </div>
  <div class="column one-half">
    <form class="email-form" action="#" method="POST">
      <h5>Your e-mail</h5>
      <input class="email-field" name="E-mail" type="text" value="">
    </form>
  </div>
</div>
</div>
