<div class="menu-container">
  <i class="fa fa-times menu-close-button"></i>
    <img src="https://lh3.googleusercontent.com/-SDxf9STZBGw/VGTza3tP3JI/AAAAAAAAAf0/l0n78lYSiBE/w480-h481-no/dennis.jpg" class="profile-photo">
  <h4>Dennis Malmin</h4>
  <p>Stavanger, Norge</p>
  <div class="menu-display">
  <div class="column one-half">
    <p>1</p>
    <h5>Prosjekter</h5>
  </div>
  <div class="column one-half">
    <p>1603</p>
    <h5>Besøkende</h5>
  </div>
</div>

<a href="#" class="menu-button">Kontakt meg</a>
  </div>
